# Database (Docker Compose local)
DATABASE__HOST=db
DATABASE__PORT=5432
DATABASE__NAME=cayeshni
DATABASE__USER=postgres
DATABASE__PASSWORD=postgres

# ASP.NET Core Configuration
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080
DataProtection__KeysPath=/app/keys

# JWT Configuration
Jwt__Secret=YourSuperSecretKeyForJwtTokenGenerationsandksjadnsajdjasdas
Jwt__Issuer=Cayeshni
Jwt__Audience=CayeshniUsers
Jwt__Expiry=00:05:00
Jwt__RefreshExpiry=7.00:00:00

# Brevo (Email Service)
Brevo__ApiKey=xkeysib-YOUR_KEY
Brevo__FromEmail=noreply@cayeshni.com # replace with your email for testing as we don't own cayeshni.com domain yet
Brevo__FromName=Cayeshni

# Frontend URL (for email links, CORS, etc.)
App__FrontendUrl=http://localhost:3000

# File Storage
FileStorage__BasePath=uploads
FileStorage__MaxUploadSizeMb=5
FileStorage__AllowedExtensions=.jpg,.jpeg,.png,.gif,.webp
FileStorage__BaseUrl=http://localhost:8080

# Cloudinary
Cloudinary__CloudName=your_cloud_name
Cloudinary__ApiKey=your_api_key
Cloudinary__ApiSecret=your_api_secret

# Email confirmation feature flag
# false = no email confirmation required
# true  = confirmation required before full access
RequireEmailConfirmation=false

